<header>
    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('assets/front/images/tuniCollabLogo.png') }}" class="logo img-fluid">
                <span>
                    TuniCollab
                    <small>Non-profit Organization</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/#top">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/#section_2">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/#section_3">Causes</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" href="#" id="navbarLightDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">Events</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('app_create_event') }}">Add events</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_show_events') }}">Show all events</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{{ path('news_API') }}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/#section_6">Contact</a>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {% if app.user.image is not null %}
                                    <img src="{{ app.user.image }}" class="rounded-circle" width="30" height="30" alt="User Image">

{% else %}
    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle" width="30"  />
{% endif %}
                                {{ app.user.email }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                 <li><a class="dropdown-item" href="/profileuser"> <i class="bi bi-person-circle"> </i>profile</a></li>

                                <li><a class="dropdown-item" href="/logout"> <i class="bi bi-box-arrow-right"></i>Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="{{ path('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-btn custom-border-btn btn" href="{{ path('createAcc') }}">SignUp association</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-btn custom-border-btn btn" href="{{ path('register') }}">SignUp volunteer</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
