{% extends 'base.html.twig' %}

{% block title %}Liste des Dons{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  
<div class="text-center">
    <br>
    <br>
    <h1>Liste des Dons</h1>
    <br>
    <br>
    <div class="container"> <!-- Add a container here -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for don in Dons %}
                <div class="col">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h5 class="card-title">Association: {{ don.association is not null ? don.association.nom : '' }}</h5>
                            <p class="card-text">Montant: {{ don.montant }}</p>
                            <p class="card-text">Date de mise: {{ don.dateMisDon|date('d-m-Y') }}</p>
                            <p class="card-text">Type: {{ don.type is not null ? don.type.nom : '' }}</p>
                            <p class="card-text"></p>
                            <div class="btn-group" role="group">
                                <a href="{{ path('dons_modifier', {'id': don.id}) }}" class="custom-btn btn mt-3">
                                    <i class="fas fa-edit"></i> <!-- Icône Modifier -->
                                </a>
                                <a href="{{ path('dons_delete', {'id': don.id}) }}" class="custom-btn btn mt-3" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce don ?')">
                                    <i class="fas fa-trash-alt"></i> <!-- Icône Supprimer -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <a href="{{ path('dons_add') }}" class="custom-btn btn mt-3">Ajouter un don</a>
    <br>
    <br>
</div>

<style>
    .custom-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 15px;
    }

    .custom-card:hover {
        transform: scale(1.05); /* effet de zoom */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ombre légère */
        background-color: #f8f9fa; /* couleur de fond légèrement plus claire */
    }
</style>

{% endblock %}
