

<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TuniCollab Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/front/images/grandLogo.png') }}" />
    
    {% block stylesheets %}
    <link href="{{ asset('assets/front/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/front/css/templatemo-kind-heart-charity.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('assets/front/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('assets/front/js/custom.js') }}"></script>
    <script src="{{ asset('assets/front/js/counter.js') }}"></script>
    <script src="{{ asset('assets/front/js/click-scroll.js') }}"></script>
    {% endblock %}
     <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ asset('assets/back/css/tailwind.output.css') }}" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="assets/back/js/init-alpine.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      defer
    ></script>
    <script src="{{ asset('assets/back/js/charts-lines.js') }}" defer></script>
    <script src="{{ asset('assets/back/js/charts-pie.js') }}" defer></script>
  </head>
  <body>
   
   <div class="flex h-screen bg-gray-50 dark:bg-gray-900":class="{ 'overflow-hidden': isSideMenuOpen }">
     {{ include('admin/sidebar.html.twig') }}

    <div
      x-show="isSideMenuOpen"
    >
   </div>
    <div class="flex flex-col flex-1 w-full">

      {{ include('admin/header.html.twig') }}

{% block body %}
<div class="container p-5 my-5 border">
              <h1>Add projet</h1>
                <div class="row">
{{ form_start(form, {'attr': {'class': 'form'}}) }}
                                    
<div class="col-lg-6 col-12">
    {{ form_row(form.nomProjet, {'label': 'Name:', 'placeholder': 'Name', 'attr': {'class': 'form-control '}}) }}

</div>
<div class="col-lg-6 col-12">
    {{ form_row(form.status, {'label': 'Status:', 'attr': {'class': 'form-control'}}) }}


</div>
{{ form_row(form.description, {'label': 'Description:', 'placeholder': 'Description', 'attr': {'class': 'form-control'}}) }}


<div class="col-lg-6 col-12">
    <label for="dateDebut">From:</label>
    {{ form_widget(form.dateDebut, {'id': 'dateDebut', 'placeholder': 'Start Date', 'attr': {'class': 'form-control'}}) }}
    {% if form_errors(form.dateDebut) %}
        <div class="text-danger">
            {{ form_errors(form.dateDebut) }}
        </div>
    {% endif %}
</div>


<div class="col-lg-6 col-12">
    <label for="dateDebut">To:</label>
    {{ form_widget(form.dateFin, {'id': 'dateFIN', 'placeholder': 'End Date', 'attr': {'class': 'form-control'}}) }}
    {% if form_errors(form.dateFin) %}
        <div class="text-danger">
            {{ form_errors(form.dateFin) }}
        </div>
    {% endif %}
</div>
    
</div>
{{ form_row(form.association, {'label': 'Association:', 'placeholder': 'Association', 'attr': {'class': 'form-control'}}) }}
{% if form_errors(form.association) %}
    <div class="text-danger">
        {{ form_errors(form.association) }}
    </div>
{% endif %}
<button type="submit" class="btn btn-primary">Add projet</button>

{{ form_end(form) }}
{% endblock %}
</div>
</div>


</body>
</html>
